html {
    height: 100%;
}

body{
    background-image: url("https://wallpapertag.com/wallpaper/full/c/0/1/296007-large-steven-universe-background-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    border: solid #000000;
}

#stevenUniverseLogo{
    transform: rotate(5deg);
    width: 30%;
    float: right;
    margin-right: 10px;
}

#triviaGame{
    width: 50%;
    margin-right: -300px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.title {
    margin-top: 50px;
    height: 100px;
    text-align: center;
}

#timer{
    background-color: #000000;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.timerRow{
    margin-left: 40%;
}

.gameContainer{
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Question, #Answer {
    padding: 25px;
    margin: 10px 80px 10px 80px;
    background-color: rgba(255, 255, 255, 0.80);
}

#questionText, #answerText {
    opacity: 1.0;
}
